.claim {
    margin-top:30px;
    width:100%;
    height:300px;
    color: #FFF;
    width: 100%;
    position:relative;
}

.claimInfo {
    min-width:735px;
    background-color: rgba(0,0,0,0);
    width: Calc(100% - var(--side-margin));
    margin-right:30px;
    height: 100%;
    display:flex;
    flex-direction: column;
    font-size: 12px;
}

.claimInfo h1 {
    margin-bottom:20px;
    margin-left:150px;
    margin-top:40px;
    font-size: 28px;
    font-weight: 700;
}
.claimInfo h3{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:150px;
}
.claimInfo p {
    margin-right:30px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:150px;
}
