.Header {
    height: var(--header-height);
    width: 100%;
    min-width:850px;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 2px 2px 3px #AAAAAA;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.headerLogo{
    height:32.8px;
    display:flex;
    align-items: center;
}
.headerLogo img{
    height:32.8px;
    width:166.8px;
    margin-left:var(--side-margin);
}
.lang {
    color: #000000;
    text-decoration: none;
    margin-left: 12px;
    font-size: 12px;
    display: inline-block;
}
.lang:hover{
    text-decoration: underline;
    color: var(--main-blue);
}
